
    <div class="bg-dark">
        <div class="container pt-4">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-white font-weight-bold"> Made by <a class="text-success" href="https://github.com/riskimidiw" target="_blank">Riskimidiw</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
</body>
</html>